################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyLearning_Bookstore/.vs/MyLearning_Bookstore
/MyLearning_Bookstore/MyLearning_Bookstore/obj
